.botao1 {
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
    /*padding define a altura pra cima e para baixo e dps a largura8*/
    border: 2px solid #fff;
    border-radius: 35px;
    color: var(--color-primary);
    background: unset;
    /*unset usa para tirar qualquer propriedade do html*/
    transition: 0.5s all ease;


}

.botao1:hover,
.botao1:active,
.botao1:focus,
.botao1--institutional,
.botao1--contact 
{
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}

.botao1--institutional:hover,
.botao1--contact {
    color: var(--color-copy);
    background: unset;

}